{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'reset.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'bootstrap.min.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'footer.css' %}">

<nav class="navbar">
    <div class="container-fluid">
        <p class="navbar-text navbar-left">
            주소 : 충청북도 청주시 청원구 대성로 298 (내덕동 36), 청주대학교 융합관 406호
            <br>
            TEL. 043-XXX-XXXX FAX. 043-XXX-XXXX E-MAIL : xxx@cju.ac.kr
        </p>
        <div class="navbar-header">
            <img alt="CJU" src="{% static 'cju_symbol.png' %}">
        </div>
    </div>
</nav>