<nav class="border-secondary">
    <div class="list-group-flush">
        <a style="text-decoration: none; color: #818182;border-bottom: 3px solid gray;" class="rounded-0 list-group-item" href="{% url 'board:index' %}">게시판</a>
        <a class="rounded-0 list-group-item list-group-item-action list-group-item-light" href="{% url 'board:category_list' 'notice' %}">공지사항</a>
        <a class="rounded-0 list-group-item list-group-item-action list-group-item-light" href="{% url 'board:category_list' 'data' %}">자료실</a>
    </div>
</nav>