{% extends 'board\board_base.html' %}
{% load board_filter %}
{% block board_block %}
<div class="container px-0" style="min-height: 700px;">
    <!-- 사용자오류 표시 -->
    {% if messages %}
    <div class="alert alert-danger my-3" role="alert">
        {% for message in messages %}
        <strong>{{message.tgs}}</strong>
        <ul><li>{{message.message}}</li></ul>
        {% endfor %}
    </div>
    {% endif %}
    <!-- 게시글 Start -->
    <div class="col">
        <div class="row">
            <h2 class="col-12 py-1 mb-0" style="border-bottom: 3px solid gray !important;">{{ question.subject }}</h2>
            <div class="col-12">
                <div class="row p-2 border-bottom" style="font-size: small">
                    <div class="px-2">작성자</div><div class="px-2">{{question.author.username}}</div>
                    <div class="px-2">조회수</div><div class="px-2">0</div>
                    <div class="px-2">작성일</div><div class="px-2">{{ question.create_date|date }}</div>
                    <!-- 수정일 필요 x..?-->
                    {% if question.modify_date %}
                    <div>수정일 {{question.modify_date|date}}</div>
                    {% endif %}
                </div>
                <!-- 본문 -->
                <div class="my-2" style="min-height: 300px; font-size: small">{{ question.content|linebreaksbr }}</div>

                <!-- 첨부파일 -->
                <div style="border-bottom: 1px solid gray; border-top: 1px solid gray; min-height: 75px;" class="row mx-0">
                <div class="text-center py-4 " style="width: 20%; border-right: 1px solid gray;">첨부파일</div>
                    <div style="width: 80%" class="p-4">
                        <div class="m-auto" style="color: lightgray">첨부파일이 없습니다</div>
                    </div>
                </div>


                <!-- 하단 버튼 start -->
                {% if request.user == question.author %}
                <div class="row justify-content-between p-3">
                    <!-- 수정, 삭제 버튼 Start-->
                    <div class="justify-content-between">
                        <a href="{% url 'board:question_modify' question.id %}" class="btn btn-outline-secondary">수정</a>
                        <a href="#" class='delete btn btn-outline-secondary' data-uri="{% url 'board:question_delete' question.id %}">삭제</a>
                    </div>
                    {% else %}
                    <div class="row justify-content-end p-3">
                        {% endif %}
                        <!-- 수정, 삭제 버튼 End-->
                        <div>
                            <a href="{% url 'board:index' %}" class="btn btn-outline-secondary float-right">목록</a>
                        </div>
                    </div>
                </div>
                <!-- 하단 버튼 end -->
            </div>
        </div>
    </div>
</div>
<!-- 게시글 End -->
{% endblock %}
<!-- 자바 스크립트 구문 -->

<!-- 삭제 스크립트 -->
{% block script %}
<script type="text/javascript">
    $(document).ready(function(){
        $(".delete").on('click', function() {
            if(confirm("정말로 삭제하시겠습니까?")){
                location.href = $(this).data('uri');
            }
        });
        $(".recommend").on('click', function() {
            if(confirm  ("정말로 추천하시겠습니까?")) {
                location.href = $(this).data('uri');
            }
        });

    });
</script>
{% endblock %}